@import '../Layout/Layout.scss';

.my-contacts {
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__email {
    user-select: text;
    margin: 15px 0 20px;

    @include breakpoint(sm) {
      margin: 8px 0 12px;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__icon a {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__address {
    line-height: 1.16;

    @include breakpoint(md) {
      line-height: 1.2;
    }
  }
}
