.fillings-card {
  &__body {
    max-width: 525px;
    padding: 30px;
    border-radius: 10px;
    background-color: #FFFFFF;
    text-align: center;
    height: 750px;
  }

  &__image {}

  &__image img {
    width: 440px;
    height: 460px;
    border-radius: 10px;
  }

  &__info {
    margin-top: 20px;
    color: #656565;
    padding: 0 10px;
  }

  &__weight {}

  &__name {
    color: #000000;
    min-height: 85px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-size: 30px;
  }

  &__title {
    text-transform: uppercase;
  }

  &__title span {
    text-transform: none;
    display: block;
    font-size: 22px;
    padding: 5px 0 5px;
  }

  &__separator {
    width: 200px;
    background-color: #000000;
    height: 2px;
    margin: 0 auto;
  }

  &__text {
    padding: 20px 0 5px 0;
  }

  @media screen and (max-width: 1400px) {
    &__body {
      max-width: 490px;
      height: 720px;
    }

    &__image img {
      width: 420px;
      height: 440px;
    }

    &__name {
      min-height: 80px;
      padding-top: 17px;
    }
  }


  @media screen and (max-width: 1199.98px) {
    &__body {
      max-width: 410px;
      height: 680px;
    }

    &__image img {
      width: 380px;
      height: 380px;
    }

    &__info {
      margin-top: 17px;
    }

    &__name {
      padding-top: 12px;
    }

    &__title {
      font-size: 23px;
    }

    &__text {
      font-size: 19px;
      padding: 15px 0 5px 0;
    }
  }


  @media screen and (max-width: 991.98px) {
    &__body {
      max-width: 350px;
      padding: 20px;
      height: 600px;
    }

    &__image img {
      height: 320px;
    }

    &__info {
      margin-top: 15px;
    }

    &__name {
      min-height: 85px;
    }

    &__title {
      font-size: 21px;
    }

    &__title span {
      font-size: 21px;
    }

    &__separator {
      width: 150px;
      height: 1.5px;
    }

    &__text {
      font-size: 18px;
    }
  }



  @media screen and (max-width: 767.98px) {
    &__body {
      height: 100%;
    }

    &__image img {
      height: 300px;
    }

    &__weight {
      font-size: 18px;
    }

    &__name {
      min-height: 100%;
      padding-top: 20px;
      display: block;
    }

    &__title {
      font-size: 20px;
    }

    &__title span {
      font-size: 19px;
    }

    &__text {
      font-size: 17px;
    }
  }

  @media screen and (max-width:575.98px) {
    &__body {
      max-width: 250px;
      padding: 15px 0 12px 0;
    }

    &__image img {
      width: 200px;
      height: 220px;
    }

    &__info {
      padding: 0 15px;
    }

    &__weight {
      font-size: 16px;
    }

    &__name {
      padding: 13px 0 0px 0;
    }

    &__title {
      font-size: 17px;
    }

    &__title span {
      font-size: 17px;
      padding: 3px 0 5px;
    }

    &__separator {
      width: 130px;
      height: 1px;
    }

    &__text {
      font-size: 13px;
    }
  }
}
