.fillings-card {
  &__body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 325px;
    height: 490px;
    border-radius: 18px;
    background-color: #ffffff;
    color: #656565;
    text-align: center;
    line-height: 1.14;
    padding: 15px 19px;
  }

  &__image img {
    width: 285px;
    height: 282px;
    border-radius: 18px;
    border: #acc6e6 solid 1px;
  }

  &__weight {
    font-size: 13px;
  }

  &__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000000;
    min-height: 48px;
    margin: 8px 0;
  }

  &__title {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 5px;
  }

  &__title span {
    text-transform: none;
    display: block;
    font-size: 17px;
  }

  &__separator {
    width: 120px;
    height: 2px;
    background-color: #000000;
    margin: 0 auto;
  }

  &__text {
    font-size: 16px;
  }
}
