@import '../Layout/Layout.scss';

.title {
  &__text {
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;

    @include breakpoint(lg) {
      font-size: 40px;
    }

    @include breakpoint(md) {
      margin-bottom: 20px;
    }

    @include breakpoint(sm) {
      font-size: 30px;
    }
  }
}
