@import '../Layout/Layout.scss';

.title {
  &__text {
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;

    @include breakpoint(lg) {
      font-size: 40px;
    }

    @include breakpoint(md) {
      font-size: 36px;
    }

    @include breakpoint(sm) {
      font-size: 32px;
    }
  }
}
