@import '../Layout/Layout.scss';

.main {
  &__body {
    padding: 40px 0px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 10px;
    line-height: 1.2;

    @include breakpoint(md) {
      gap: 20px;
      padding: 30px 0px;
    }

    @include breakpoint(sm) {
      flex-wrap: wrap-reverse;
      justify-content: start;
      gap: 40px;
      margin: 0 auto;
      max-width: 386px;
      padding: 20px 0px 40px;
    }

    @include breakpoint(xs) {
      gap: 30px;
    }
  }

  &__info {
    flex: 0 0 50%;

    @include breakpoint(md) {
      max-width: 258px;
    }

    @include breakpoint(sm) {
      flex: 0 1 100%;
      align-self: start;
    }
  }

  &__name {
    font-size: 120px;
    line-height: 1.14;

    @include breakpoint(md) {
      font-size: 80px;
    }
  }

  &__title {
    font-size: 48px;
    line-height: 0.9;
    max-width: 387px;
    margin: 20px 0 30px;

    @include breakpoint(md) {
      font-size: 28px;
    }

    @include breakpoint(xs) {
      margin: 15px 0 15px;
    }
  }

  &__slogan {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 32px;

    @include breakpoint(md) {
      font-size: 18px;
    }
  }

  &__button-wrapper {
    display: flex;
    margin-top: 60px;

    @include breakpoint(xs) {
      margin-top: 30px;
    }
  }


  &__images {
    display: flex;
    gap: 15px;

    @include breakpoint(md) {
      max-width: 386px;
      gap: 12px;
    }

    @include breakpoint(sm) {
      align-self: center;
    }
  }

  &__main-logo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
