@import '../Layout/Layout.scss';

.home {
  text-align: center;

  &__text {
    font-size: 20px;
    line-height: 1.14;
    color: #000000;

    @include breakpoint(md) {
      font-size: 16px;
    }

    @include breakpoint(xs) {
      font-size: 14px;
    }
  }
}
