.header {
  // position: absolute;
  // width: 100%;
  // top: 0;
  // left: 0;
  // z-index: 50;
  background: radial-gradient(#BAA99B, #272320);
  background: linear-gradient(to right, #918071, #272320);
  // background: linear-gradient(to right, #272320, #918071);
  // background: #272320;

  &__container {
    position: relative;
    border: #272320 1px solid;
  }

  &__navbar {}

  &__burger {
    display: none;
    position: absolute;
    top: 17px;
    right: 20px;
    z-index: 5;
  }

  @media screen and (max-width: 767.98px) {
    &__container {
      height: 50px;
    }

    &__burger {
      display: block;
    }

    &__navbar {
      display: none;
    }
  }
}


