.cakes-card {
  &__body {
    background: #FFFFFF;
    padding: 23px 23px 30px 23px;
    text-align: center;
  }

  &__image img {
    max-width: 344px;
    max-height: 365px;
  }

  &__title {
    text-transform: uppercase;
    font-size: 23px;
    padding: 20px 5px 10px;
  }

  &__separator {
    max-width: 145px;
    height: 1.5px;
    background: black;
    margin: 5px auto 30px;
  }

  &__button {
    border-radius: 20px;
    padding: 12px 27px;
    color: #F0EADA;
    background: #9EABBF;
  }
}
