.cakes-card {
  &__body {
    background: #FFFFFF;
    padding: 23px 23px 30px 23px;
    text-align: center;
    border-radius: 10px;
  }

  &__image {
    margin-bottom: 40px;
  }

  &__image img {
    border-radius: 10px;
    width: 300px;
    height: 400px;
  }

  // &__title {
  //   text-transform: uppercase;
  //   font-size: 23px;
  //   padding: 20px 10px 10px 10px;
  //   border: 1px solid #9EABBF;
  //   max-width: 200px;
  // }

  // &__separator {
  //   max-width: 145px;
  //   height: 1.5px;
  //   background: black;
  //   margin: 0px auto 30px;
  // }

  &__button {
    border-radius: 20px;
    padding: 15px 40px;
    color: #F0EADA;
    background: #9EABBF;
  }

  @media screen and (max-width: 1199.98px) {
    &__image img {
      width: 280px;
      height: 380px;
    }

    &__button {
      border-radius: 17px;
      padding: 12px 27px;
    }
  }

  @media screen and (max-width: 991.98px) {
    &__image {
      margin-bottom: 30px;
    }

    &__image img {
      width: 230px;
      height: 300px;
    }

    &__button {
      font-size: 18px;
    }
  }

  @media screen and (max-width: 767.98px) {
    &__image img {
      width: 230px;
      height: 300px;
    }
  }

  @media screen and (max-width: 575.98px) {
    &__body {
      padding: 20px 20px 25px 20px;
    }

    &__image img {
      width: 180px;
      height: 250px;
    }

    &__button {
      font-size: 15px;
      padding: 10px 30px;
      border-radius: 14px;
    }
  }
}
