.footer {
  background: #26221F;

  &__container {
    color: #FFFFFF;
  }

  &__body {
    margin: 30px 0 50px;
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    line-height: 114%;
  }

  &__col {
    padding: 0 15px;
    flex: 0 1 33.333%;
  }

  &__contacts {}

  &__info {}

  &__delivery {}

  &__copyright {
    text-align: center;
    font-size: 18px;
    padding: 0 0 15px;
  }

  @media screen and (max-width: 1199.98px) {
    &__body {
      font-size: 22px;
    }

    &__copyright {
      font-size: 15px;
    }
  }

  @media screen and (max-width: 991.98px) {
    &__body {
      font-size: 18px;
      margin: 30px 0 30px;
    }

    &__copyright {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 767.98px) {

    &__body {
      max-width: 300px;
      margin: 20px auto 20px;
    }

    &__col {
      flex: 0 1 100%;
      margin: 15px 0px;
    }

    &__copyright {
      font-size: 9px;
    }
  }

  @media screen and (max-width: 575.98px) {
    &__body {
      max-width: 260px;
    }

    &__copyright {
      font-size: 8px;
      padding: 0 0 15px;
    }
  }
}

._text {
  font-size: 18px;
  padding: 0 0 10px 0;
  color: #F0EADA;
}

.contacts {
  &__text {}

  &__data {
    margin-bottom: 20px;
  }

  @media screen and (max-width: 767.98px) {
    &__data {
      margin-bottom: 30px;
    }
  }
}

.info {
  padding-top: 8px;

  &__logo {}

  &__about {
    padding: 30px 0 0;
  }

  &__name {
    color: #9FDDFF;
    max-width: 200px;
    padding-bottom: 20px;
    line-height: 114%;
  }

  &__title {
    font-family: 'Caveat', cursive;
    font-size: 32px;
  }

  @media screen and (max-width: 1199.98px) {

    &__logo img {
      max-width: 90px;
    }

    &__name {
      font-size: 28px;
    }

    &__title {
      font-size: 30px;
    }
  }

  @media screen and (max-width: 991.98px) {

    &__logo img {
      max-width: 70px;
    }

    &__name {
      font-size: 25px;
    }

    &__title {
      font-size: 23px;
    }
  }

  @media screen and (max-width: 767.98px) {
    padding-top: 0px;

    &__about {
      padding: 20px 0 0;
    }

    &__name {
      font-size: 20px;
      padding-bottom: 10px;
    }

    &__title {
      font-size: 20px;
    }

    &__copyright {
      font-size: 10px;
      padding-top: 30px;
    }
  }
}


.delivery {

  &__text {}

  &__conditions {
    font-size: 20px;
    line-height: 150%;
  }

  &__conditions span {
    padding: 17px 0 17px;
    display: block;
  }

  @media screen and (max-width: 1199.98px) {
    &__conditions {
      font-size: 18px;
    }
  }

  @media screen and (max-width: 991.98px) {
    &__conditions {
      font-size: 15px;
    }
  }

  @media screen and (max-width: 767.98px) {
    &__conditions {
      font-size: 13px;
    }
  }
}
