.footer {
  background: #26221F;

  &__container {
    color: #FFFFFF;
  }

  &__body {
    margin: 30px 0 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 114%;
  }

  &__col {
    padding: 0 15px;
    flex: 0 1 33.333%;
  }

  &__col_1 {}

  &__col_2 {
    @media screen and (max-width: 767.98px) {
      order: 3;
    }
  }

  &__col_3 {}

  &__contacts {}

  &__info {}

  &__delivery {}

  &__copyright {
    text-align: center;
    font-size: 18px;
    padding: 0 0 50px;
  }

  @media screen and (max-width: 1199.98px) {
    &__body {
      font-size: 25px;
    }

    &__copyright {
      font-size: 15px;
      padding: 0 0 40px;
    }
  }

  @media screen and (max-width: 991.98px) {
    &__body {
      font-size: 20px;
      margin: 30px 0 5px;
    }

    &__copyright {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 767.98px) {
    &__body {
      font-size: 17px;
      margin: 30px 0 30px;
    }

    &__col {
      flex: 0 1 50%;
    }

    &__copyright {
      font-size: 10px;
      padding: 0 0 20px;
    }
  }

  @media screen and (max-width: 575.98px) {
    &__body {
      font-size: 14px;
    }

    &__col {
      padding: 0 5px;
    }

    &__copyright {
      font-size: 8px;
      padding: 0 0 15px;
    }
  }
}

._text {
  font-size: 18px;
  padding: 0 0 10px 0;
  color: #F0EADA;

  @media screen and (max-width: 767.98px) {
    font-size: 15px;
  }

  @media screen and (max-width: 575.98px) {
    font-size: 12px;
  }
}

.contacts {
  &__text {}
}

.info {
  text-align: center;
  padding-top: 8px;

  &__logo {}

  &__about {
    padding: 30px 0 0;
  }

  &__name {
    color: #9FDDFF;
    padding-bottom: 10px;
    line-height: 114%;
  }

  &__title {
    font-family: 'Caveat', cursive;
    font-size: 32px;
  }

  @media screen and (max-width: 1199.98px) {
    &__name {
      font-size: 28px;
    }

    &__title {
      font-size: 30px;
    }
  }

  @media screen and (max-width: 991.98px) {

    &__logo img {
      max-width: 90px;
    }

    &__name {
      font-size: 25px;
    }

    &__title {
      font-size: 23px;
    }
  }

  @media screen and (max-width: 767.98px) {
    display: flex;
    justify-content: center;
    padding-top: 40px;

    &__about {
      padding: 0px 20px 0px 20px;
    }

    &__name {
      font-size: 20px;
    }

    &__title {
      font-size: 20px;
    }

    &__copyright {
      font-size: 10px;
      padding-top: 30px;
    }
  }

  @media screen and (max-width: 575.98px) {
    padding-top: 25px;

    &__logo img {
      max-width: 65px;
    }

    &__about {
      padding: 0px 20px 0px 20px;
    }

    &__name {
      font-size: 15px;
      padding-bottom: 7px;
    }

    &__title {
      font-size: 15px;
    }
  }
}


.delivery {
  text-align: end;

  &__text {}

  &__conditions {
    font-size: 20px;
    line-height: 150%;
  }

  &__conditions span {
    padding: 17px 0 17px;
    display: block;
  }

  @media screen and (max-width: 1199.98px) {
    &__conditions {
      font-size: 18px;
    }
  }

  @media screen and (max-width: 991.98px) {
    &__conditions {
      font-size: 15px;
    }
  }

  @media screen and (max-width: 767.98px) {
    &__conditions {
      font-size: 13px;
    }
  }

  @media screen and (max-width: 575.98px) {
    &__conditions {
      font-size: 10px;
    }

    &__conditions span {
      padding: 12px 0 12px;
    }
  }
}
