.about {
  &__container {}

  &__body {
    padding: 30px 90px 80px;
    display: flex;
    justify-content: space-between;
  }

  &__body>div {
    padding: 10px;
  }

  &__title {
    text-align: center;
    font-size: 50px;
    color: #26221F;
    margin-top: 20px;
  }

  &__separator {
    width: 500px;
    height: 2px;
    background-color: #26221F;
    margin: 0 auto;
  }

  @media screen and (max-width: 1400px) {
    &__body {
      padding: 30px 20px 80px;
      justify-content: space-around;
    }
  }

  @media screen and (max-width: 1199.98px) {
    &__body {
      padding: 30px 5px 80px;
    }

    &__title {
      font-size: 40px;
    }

    &__separator {
      width: 400px;
    }
  }

  @media screen and (max-width: 767.98px) {
    &__body {
      flex-direction: column;
      align-items: center;
    }

    &__body>div {
      max-width: 500px;
    }

    &__title {
      font-size: 30px;
      margin-top: 15px;
    }

    &__separator {
      width: 340px;
    }
  }


  @media screen and (max-width: 575.98px) {
    &__separator {
      width: 230px;
    }
  }
}


.column-left {
  // border: #009a15 2px solid;
  max-width: 630px;

  &__separator-top {
    display: none;
  }


  &__title {
    font-size: 60px;
    text-transform: uppercase;
    line-height: 116%;
  }

  &__title span {
    font-size: 65px;
  }

  &__subtitle {
    display: none;
  }

  &__images {
    display: flex;
    padding: 40px 0px 30px;
  }

  &__image {}

  &__text-row {
    display: flex;
    justify-content: space-between;
  }

  &__text-col {
    max-width: 278px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__text-col h4 {
    text-align: justify;
  }

  &__separator {
    height: 30px;
    background-color: #26221F;
    border-radius: 10px;
  }

  @media screen and (max-width: 1400px) {
    &__title {
      font-size: 55px;
    }

    &__title span {
      font-size: 60px;
    }
  }

  @media screen and (max-width: 1199.98px) {
    max-width: 550px;

    &__title {
      font-size: 45px;
    }

    &__title span {
      font-size: 50px;
    }

    &__text-col {
      max-width: 240px;
      font-size: 19px;
    }
  }

  @media screen and (max-width: 991.98px) {
    max-width: 445px;

    &__title {
      font-size: 25px;
    }

    &__title span {
      font-size: 35px;
    }

    &__images {
      padding: 30px 0px 30px;
    }

    &__text-row {
      justify-content: space-around;
    }

    &__text-col {
      max-width: 190px;
      font-size: 16px;
    }

    &__separator {
      height: 20px;
      border-radius: 7px;
    }
  }

  @media screen and (max-width: 767.98px) {

    &__separator-top {
      display: block;
      margin: 15px 0;
    }

    &__images {
      padding: 30px 0px 20px;
    }

    &__subtitle {
      display: block;
    }

    &__text-row {
      flex-direction: column;
      gap: 15px;
    }

    &__text-col {
      max-width: none;
    }

    &__separator {
      height: 20px;
      margin-top: 12px;
    }
  }

  @media screen and (max-width: 575.98px) {
    &__title {
      font-size: 20px;
    }

    &__title span {
      font-size: 25px;
    }

    &__images {
      padding: 20px 0px 15px;
    }

    &__text-col {
      font-size: 14px;
    }
  }
}


.column-right {
  position: relative;
  align-self: flex-end;
  max-width: 420px;
  // border: #009a15 2px solid;

  &__separator {
    position: absolute;
    top: -50px;
    right: 0;
  }

  &__text {
    background-color: #5A74A4;
    color: #F0EADA;
    padding: 10px;
    border-radius: 10px;
  }

  &__image {
    margin: 40px 0 43px;
  }

  @media screen and (max-width: 1400px) {
    &__separator {
      top: -43px;
    }

    &__image {
      margin: 35px 0 38px;
    }
  }

  @media screen and (max-width: 1199.98px) {
    max-width: 330px;

    &__separator {
      height: 20px;
    }
  }

  @media screen and (max-width: 991.98px) {
    max-width: 260px;

    &__separator {
      top: -20px;
    }

    &__text {
      font-size: 15px;
    }

    &__image {
      margin: 40px 0 43px;
    }
  }

  @media screen and (max-width: 767.98px) {
    align-self: center;

    &__separator {
      display: none;
    }

    &__subtitle {
      display: none;
    }

    &__image {
      text-align: center;
      margin: 10px 0 30px;
    }

    &__text {
      text-align: center;
    }
  }
}


._subtitle-about {
  color: #938273;
  font-size: 18px;
  line-height: 110%;
  text-align: justify;

  @media screen and (max-width: 991.98px) {
    font-size: 16px;
  }

  @media screen and (max-width: 575.98px) {
    font-size: 14px;
  }
}

._separator-about {
  width: 603px;
  height: 38px;
  background: linear-gradient(to right, #272320, #918071);
  border-radius: 10px;

  @media screen and (max-width: 1400px) {
    width: 550px;
    height: 28px;
  }

  @media screen and (max-width: 1199.98px) {
    width: 500px;
  }

  @media screen and (max-width: 991.98px) {
    width: 430px;
    height: 20px;
    border-radius: 7px;
  }

  @media screen and (max-width: 767.98px) {
    width: 100%;
  }
}

h4 span {
  font-size: 1.2em;
}
