@import '../Layout/Layout.scss';

.message {
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefefe;
    border-radius: 40px;
    max-width: 400px;
    margin: 0 auto;
    padding: 35px 10px;

    @include breakpoint(md) {
      max-width: 300px;
      padding: 20px 10px;
    }

    @include breakpoint(xs) {
      max-width: 220px;
      padding: 10px 10px;
    }
  }

  &__body *:not(:last-child) {
    margin-bottom: 20px;

    @include breakpoint(md) {
      margin-bottom: 13px;
    }
  }

  &__icon {
    width: 70px;
    height: 70px;

    @include breakpoint(md) {
      width: 50px;
      height: 50px;
    }

    @include breakpoint(xs) {
      width: 35px;
      height: 35px;
    }
  }

  &__icon_error {
    width: 50px;
    height: 50px;

    @include breakpoint(md) {
      width: 35px;
      height: 35px;
    }

    @include breakpoint(xs) {
      width: 30px;
      height: 30px;
    }
  }

  &__text {
    line-height: inherit;
    text-align: center;
    text-transform: uppercase;
    color: #5475a4;
    font-size: 20px;

    @include breakpoint(md) {
      font-size: 16px;
    }

    @include breakpoint(xs) {
      font-size: 12px;
    }
  }

  &__text_error {
    color: #827c76;
  }

  &__button {
    font-family: 'Inter', sans-serif;
    padding: 13px 25px;

    @include breakpoint(md) {
      font-size: 15px;
      padding: 11px 21px;
    }

    @include breakpoint(xs) {
      padding: 7px 15px;
    }
  }
}
